/*
--------- Body setting --------
*/

.computer {
    background-color: #12BFDE;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:scroll;
}
.furniture {
    background: #DEB887;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.stationery {
    background-color: #8FBC8F;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:scroll;
}
.tool {
    background-color: #AAAAAA;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:scroll;
}
.clothes {
    background-color: #FFA488;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:scroll;
}
.food {
    background-color: #F188A1;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:scroll;
}
.other {
    background-color: #FFBB77;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:scroll;
}

/*
--------- Button Color Remarks --------
computer #FF9575
furniture #0000CD
stationery #FF5511
tool #DDAA00
clothes #16C5BD
food #0000CD
other #5599FF
*/


